@import '../Fonts/fonts';

.feed{
  flex: 1;
  border-right: 1px solid $--twitter-bg;
  min-width: fit-content;
  overflow-y: scroll;

  ::-webkit-scrollbar{
    display: none;
  } 

  .feed__header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid $--twitter-bg;
    padding: 15px 20px;

    h2{
      font-size: 1.2em;
      font-weight: 800;
    }
  }
}